header {
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
 
}

.header-bg {
  background-image: linear-gradient(43deg, #041562 20%,  #DA1212 100%);;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  font-weight: 700;
}


.nav-bar a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  color: white;
  display: inline-block; /* ensures width = text only */
  padding-bottom: 2px;    /* space for underline */
}

.nav-bar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
   height: 2px;
  background: #fff; /* customize color if needed */
  transition: width 0.3s ease;
}

.nav-bar a:hover::after,
.nav-bar a.active::after {
  width: 100%;
}





.nav-contact {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  align-items: center;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 101;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-bar {
    position: absolute;
    top: 50px;
    left: 10%;
    width: 90%;
    flex-direction: column;
    background: #041562;
    gap: 20px;
    padding: 20px;
    display: none;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
  }

  .nav-bar.active {
    display: flex;
  }
}
/* 1. Extra Small Devices (Phones - Portrait) */
@media (max-width: 479px) {
  .logo {
    font-size: 12px;
    font-weight: 500;
  }
  .nav-bar a {
    font-size: 12px;
    font-weight: 500;
  }
}
/* 2. Small Devices (Phones - Portrait and Landscape) */
@media (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-size: 25px;
    font-weight: 600;
  }
  .nav-bar a {
    font-size: 20px;
    font-weight: 500;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header {

  padding: 20px 5%; /* ⬅️ Increase from 5px to 20px for more vertical space */

}
  .logo {
    font-size: 20px;
    font-weight: 600;
  }
  .nav-bar a {
    font-size: 15px;
    font-weight: 400;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
        .header {

  padding: 20px 5%; /* ⬅️ Increase from 5px to 20px for more vertical space */

}
  .logo {
    font-size: 25px;
    font-weight: 600;
  }
  .nav-bar a {
    font-size: 19px;
    font-weight: 400;
  }
}